<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- vue + express 사용을 위해 위 2줄 필수 -->
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }
        th {
            background-color: burlywood;
        }
        tr:nth-child(even) {
            background-color: beige;
        }

        #dept-menu {
            margin-bottom: 15px;
            text-align: center;
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="app"> <!-- html 코드는 id가 app인 태그 안에서 작업 -->
        <div>
            <!-- 부서별 필터링 하기 -->
            <select id="dept-menu" v-model="deptNo" @change="fnEmpList">
                <option value="">:: 전체 ::</option>
                <option value="10">:: ACCOUNTING ::</option>
                <option value="20">:: RESEARCH ::</option>
                <option value="30">:: SALES ::</option>
                <option value="40">:: OPERATIONS ::</option>
            </select>
        </div>
        <table>
            <tr>
                <th>선택</th>
                <th>사원번호</th>
                <th>이름</th>
                <th>직책</th>
                <th>급여</th>
                <th>부서</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr v-for="item in list">
                <td><input type="checkbox" :value="item.EMPNO" v-model="selectItems"></td>
                <!-- 동적으로 처리하고자 한다면 value 앞에 : 붙여준다, 안그러면 그냥 문자열 item.EMPNO -->
                <td>{{item.EMPNO}}</td>
                <td>
                    <a href="javascript:;" @click="fnView(item.EMPNO)">{{item.ENAME}}</a>
                </td>
                <td>{{item.JOB}}</td>
                <td>{{item.SAL}}</td>
                <td>{{item.DNAME}}</td>
                <td><button @click="fnEdit(item.EMPNO)">수정</button></td>
                <td><button @click="fnRemove(item.EMPNO)">삭제</button></td>
                <!-- 삭제하고자 하는 사람의 사번을 파라미터로 보낸다 -->
            </tr>
        </table>
        <div>
        <a href="emp-edit.html"><button>추가</button></a>
        <button @click="fnRemoveAll">선택삭제</button>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list : [],
                deptNo : "",
                selectItems : []
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnEmpList: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/emp/list",
                    dataType: "json",
                    type: "GET",
                    data: {deptNo : self.deptNo},
                    success: function (data) {
                        console.log(data);
                        self.list = data.empList;
                        // data는 지역변수라 밖에 못끌고나가니
                        // data 안의 empList를 쓰고 싶다면 위에서 변수 선언하여 담아준다
                    }
                });
            },
            fnRemove: function(empNo) {
                // alert(empNo);
                let self = this;
                if(!confirm("정말 삭제하시겠습니까")) {
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/emp/delete",
                    dataType: "json",
                    type: "GET",
                    data: {empNo : empNo}, // 서버에 보내주는 값
                    success: function (data) {
                        if(data.result == "success") {
                            alert("삭제되었습니다");
                            self.fnEmpList();
                        }
                    }
                    // 서버 파일을 보면 넘어오는게 result : "success" 이다
                });
            },
            fnEdit: function(empNo) {
                location.href="emp-edit.html?empNo="+empNo;
            },
            fnView: function(empNo) {
                window.open(`emp-view.html?empNo=${empNo}`, "view", "width=500, height=500");
                // 2번째 파라미터는 팝업 이름. 이름을 지정하면 중복 팝업 방지
            },
            fnRemoveAll: function() {
                let self = this;
                console.log(self.selectItems);
                if(!confirm("정말 삭제하시겠습니까")) {
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/emp/deleteAll",
                    dataType: "json",
                    type: "GET",
                    data: {removeList : self.selectItems}, // 서버에 보내주는 값
                    traditional : true, // list 형태로 서버에 보내주기 위한 기능
                    success: function (data) {
                        if(data.result == "success") {
                            alert("삭제되었습니다");
                            self.fnEmpList();
                        }
                    }
                    // 서버 파일을 보면 넘어오는게 result : "success" 이다
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnEmpList();
        }
    });

    app.mount('#app');
</script>