<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- vue + express 사용을 위해 위 2줄 필수 -->
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }
        th {
            width: 80px;
            background-color: burlywood;
        }
        td {
            width: 260px;
            text-align: left;
        }
        /* tr:nth-child(even) {
            background-color: beige;
        } */
        .check-btn {
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div id="app"> <!-- html 코드는 id가 app인 태그 안에서 작업 -->
        <table>
            <tr>
                <th>사번</th>
                <td>
                    <input type="text" v-model="info.empNo">
                    <button class="check-btn">중복체크</button>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" v-model="info.eName"></td>
            </tr>
            <tr>
                <th>직책</th>
                <td><input type="text" v-model="info.job"></td>
            </tr>
            <tr>
                <th>부서</th>
                <td>
                    <label><input type="radio" value="10" v-model="info.selectDept" checked>ACCOUNTING</label><br>
                    <label><input type="radio" value="20" v-model="info.selectDept">RESEARCH</label><br>
                    <label><input type="radio" value="30" v-model="info.selectDept">SALES</label><br>
                    <label><input type="radio" value="40" v-model="info.selectDept">OPERATIONS</label>
                    <!--db가 DEPTNO로 되어있기 때문에 value 값 위와 같이 함 -->
                    <!-- v-model이 같은 값끼리는 중복을 허용하지 않음 -->
                    <!-- checked를 쓰면 체크는 되지만 v-model 값이 넘어오지 않음
                    아래 변수 선언에서 selectDept : "10" 지정을 따로 해준다 -->
                </td>
            </tr>
        </table>
        <button @click="fnAdd">추가</button>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                info : {
                    selectDept : "10"
                },
                empNo : ""
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnAdd: function () {
                let self = this;
                if(self.info.empNo.length != 4) {
                    alert("사원번호는 4자리 숫자입니다");
                    return;
                }
                console.log(self.info);
                $.ajax({
                    url: "http://localhost:3009/emp/insert",
                    dataType: "json",
                    type: "GET",
                    data: self.info,
                    success: function (data) {
                        alert("추가되었습니다");
                        location.href="emp-list.html";
                    }
                });
            },
            fnInfo: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/emp/info",
                    dataType: "json",
                    type: "GET",
                    data: {empNo : self.empNo},
                    success: function (data) {
                        console.log(data);
                        self.info = data.info;
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            const queryParams = new URLSearchParams(window.location.search);
            self.empNo = queryParams.get('empNo') || ''; 

            if(self.empNo != "") {
                self.fnInfo();
            }
        }
    });

    app.mount('#app');
</script>