<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- vue + express 사용을 위해 위 2줄 필수 -->
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }
        th {
            width: 80px;
            background-color: burlywood;
        }
        td {
            width: 260px;
            text-align: left;
        }
        /* tr:nth-child(even) {
            background-color: beige;
        } */
        .check-btn {
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div id="app"> <!-- html 코드는 id가 app인 태그 안에서 작업 -->
        <table>
            <tr>
                <th>교수번호</th>
                <td>
                    <span v-if="profNo == ''">
                        <input type="text" v-model="info.profNo">
                        <button class="check-btn">중복체크</button>
                        <!-- 중복체크 팁 : empNo가 넘어오는지 아닌지로 -->
                    </span>
                    <span v-else>
                        <input type="text" v-model="info.profNo" disabled>
                    </span>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" v-model="info.profName"></td>
            </tr>
            <tr>
                <th>아이디</th>
                <td><input type="text" v-model="info.profId"></td>
            </tr>
            <tr>
                <th>직급</th>
                <td>
                    <label><input type="radio" value="전임강사" v-model="info.selectPosition" checked>전임강사</label><br>
                    <label><input type="radio" value="조교수" v-model="info.selectPosition">조교수</label><br>
                    <label><input type="radio" value="정교수" v-model="info.selectPosition">정교수</label><br>
                    <label><input type="radio" value="총장" v-model="info.selectPosition">총장</label>
                </td>
            </tr>
            <tr>
                <th>급여</th>
                <td><input type="text" v-model="info.pay"></td>
            </tr>
            
        </table>
        <div>
            <button v-if="profNo == ''" @click="fnAdd">추가</button>
            <button v-else @click="fnEdit">수정</button>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                info : {
                    selectPosition : "전임강사"
                },
                profNo : ""
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnAdd: function () {
                let self = this;
                if(self.info.profNo.length != 4) {
                    alert("교수번호는 4자리 숫자입니다");
                    return;
                }
                console.log(self.info);
                $.ajax({
                    url: "http://localhost:3009/prof/insert",
                    dataType: "json",
                    type: "GET",
                    data: self.info,
                    success: function (data) {
                        alert("추가되었습니다");
                        location.href="prof-list.html";
                    }
                });
            },
            fnInfo: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/prof/info",
                    dataType: "json",
                    type: "GET",
                    data: {profNo : self.profNo},
                    success: function (data) {
                        console.log(data);
                        self.info = data.info;
                    }
                });
            },
            fnEdit: function() {
                let self = this;
                let param = self.info;
                $.ajax({
                    url: "http://localhost:3009/prof/update",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        alert("수정되었습니다");
                        location.href="prof-list.html";
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            const queryParams = new URLSearchParams(window.location.search);
            self.profNo = queryParams.get('profNo') || ''; 

            if(self.profNo != "") {
                self.fnInfo();
            }
        }
    });

    app.mount('#app');
</script>